#about, .avatar, #work, #contact, .contact-details, .social-links {
  width: 90%;
  margin-left: 5%; }

* {
  box-sizing: border-box; }

body,
html {
  height: 100%;
  margin: 0; }

body {
  text-align: center;
  background: #fff;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

p {
  font-weight: 300;
  text-align: left; }

ul {
  list-style: none; }

a {
  font-weight: 300;
  text-decoration: none; }

main {
  margin-top: calc(100vh + 65px);
  width: 100%; }

h3 {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 5px;
  margin-top: 70px; }

.wrapper {
  min-height: 100%;
  margin-bottom: -200px; }

header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#d3d3d3, #3A424C); }
  @media (min-width: 768px) {
    header {
      background: url("../images/header-photo.jpg") center no-repeat;
      background-size: cover; } }
  @media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    header {
      width: 103%;
      height: 104%;
      font-size: .8rem; } }
  @media screen and (device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    header {
      height: 101%;
      width: 375px; } }
  header h1 {
    font-size: 4.6rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    margin: 70px 20px 90px 20px;
    text-shadow: 2px 2px #3A424C;
    line-height: 7.5rem; }
    @media (min-width: 480px) {
      header h1 {
        font-size: 8rem;
        margin-top: 150px; } }
    @media (min-width: 768px) {
      header h1 {
        margin-bottom: 130px; } }
    @media (min-width: 1100px) {
      header h1 {
        margin-top: 100px;
        margin-bottom: 90px; } }
  header h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: -60px 20px 0 20px; }
  header h4 {
    font-weight: 300;
    margin-top: 30%; }

i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.bottom {
  position: absolute;
  bottom: 30px;
  width: 100%; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(100vh + 15px);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #3A424C;
  overflow: hidden;
  padding-top: 5px; }
  @media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      padding-top: 15px;
      width: 103%; } }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding: 0;
    margin: 0 0 0 5%;
    height: 100%; }
    @media (min-width: 480px) {
      nav ul {
        width: 80%;
        margin-left: 10%; } }
    @media (min-width: 600px) {
      nav ul {
        width: 70%;
        margin-left: 15%; } }
    @media (min-width: 768px) {
      nav ul {
        width: 60%;
        margin-left: 20%; } }
    @media (min-width: 820px) {
      nav ul {
        width: 50%;
        margin-left: 25%; } }
    @media (min-width: 960px) {
      nav ul {
        width: 40%;
        margin-left: 30%; } }
    @media (min-width: 1024px) {
      nav ul {
        width: 30%;
        margin-left: 35%; } }
    nav ul li {
      text-transform: uppercase;
      display: inline-block;
      height: 100%; }
      nav ul li:hover {
        border-bottom: 2px solid #ffa500; }
  nav a {
    color: #000; }
    nav a:focus {
      color: #fff;
      background: #ffa500;
      padding: 0 7px 25px 7px; }

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffa500; }
  @media (min-width: 820px) {
    #about {
      width: 70%;
      margin-left: 15%; } }
  #about h3 {
    margin-top: 50px; }

.info svg {
  padding: 0;
  margin-bottom: -10px;
  width: 30px;
  height: 30px;
  transition: all .3s ease-in-out; }
  .info svg:hover {
    transform: scale(1.2) rotate(-10deg);
    transition: all .5s ease-in-out; }

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0; }
  .skills ul li {
    font-weight: 300;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    margin: 0 3px 10px 3px; }

.skills,
.info {
  width: 100%; }
  @media (min-width: 820px) {
    .skills,
    .info {
      width: 45%;
      margin: 0; } }
  @media (min-width: 1024px) {
    .skills,
    .info {
      width: 48%; } }

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 820px) {
    .avatar {
      width: 70%;
      margin-left: 15%; } }
  .avatar img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 2px solid #ffa500;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px; }
  .avatar div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 100%; }
    @media (min-width: 1024px) {
      .avatar div {
        width: 65%;
        margin-right: 0;
        padding-right: 0; } }
  .avatar p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.7rem;
    color: #ffa500;
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px #d3d3d3; }
    @media (min-width: 600px) {
      .avatar p {
        font-size: 2.5rem; } }
    @media (min-width: 1024px) {
      .avatar p {
        font-size: 3rem; } }

#work {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffa500;
  margin-top: -20px; }
  @media (min-width: 820px) {
    #work {
      width: 70%;
      margin-left: 15%; } }

.work-header {
  padding: 0;
  margin: 0;
  width: 100%; }

#gallery {
  width: 100%; }
  #gallery .gallery-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0; }
    @media (min-width: 600px) {
      #gallery .gallery-ul {
        justify-content: space-around; } }
    @media (min-width: 1115px) {
      #gallery .gallery-ul {
        justify-content: space-between; } }
  #gallery .gallery-li {
    text-align: left;
    margin-top: 35px;
    padding: 5px;
    height: auto; }
  #gallery img {
    width: 100%;
    height: 100%; }

.photo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 5px #d3d3d3;
  margin: 0 auto; }
  @media (min-width: 600px) {
    .photo {
      width: 250px;
      height: 150px; } }
  @media (min-width: 768px) {
    .photo {
      width: 300px;
      height: 200px; } }
  @media (min-width: 820px) {
    .photo {
      width: 250px;
      height: 150px; } }
  @media (min-width: 960px) {
    .photo {
      width: 300px;
      height: 200px; } }
  @media (min-width: 1024px) {
    .photo {
      width: 250px;
      height: 150px; } }

.photo-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  opacity: .8;
  transition: opacity .5s; }
  .photo-overlay:hover {
    opacity: 1; }

#photo1 {
  background: #269867; }

#photo2 {
  background: #22AFD8; }

#photo3 {
  background: #D82434; }

#photo4 {
  background: #812A98; }

#photo5 {
  background: #D89222; }

#photo6 {
  background: #989639; }

input.description-button {
  font-size: 1rem;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  opacity: .7; }
  input.description-button:hover {
    opacity: 1;
    border: 1px solid #d3d3d3; }
  input.description-button:focus {
    opacity: 1;
    border: 1px solid #d3d3d3; }

.work-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 330px;
  display: none; }
  .work-details .description {
    width: 100%;
    overflow: scroll;
    height: 140px; }
  .work-details input {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    outline: 0;
    background: #fff;
    border-radius: 5px;
    transition: all .4s ease-out; }
  .work-details a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; }

.skill-list {
  color: #d3d3d3;
  height: 40px;
  margin-top: 25px;
  font-size: .9rem; }

.website-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 50px; }

.website-links {
  font-weight: 400;
  color: #000;
  width: 48%;
  padding: 0;
  height: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-top: 11px; }

.website:hover {
  color: #fff;
  background: #3A424C;
  border: 1px solid #fff;
  transition: all .4s ease-out; }

.source-code:hover {
  color: #fff;
  background: #ffa500;
  border: 1px solid #d3d3d3;
  transition: all .4s ease-out; }

.work-div {
  margin-top: 20px;
  height: 150px; }
  @media (min-width: 600px) {
    .work-div {
      width: 250px; } }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid #d3d3d3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer; }

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -20px; }
  @media (min-width: 820px) {
    #contact {
      width: 70%;
      margin-left: 15%; } }

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 820px) {
    .contact-info {
      width: 48%;
      margin: 0; } }
  @media (min-width: 1024px) {
    .contact-info {
      width: 62%;
      margin: 0; } }

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
  width: 100%;
  	/*li.phone a {
  		background: url('../images/phone.png') no-repeat;
  		background-size: 25px 25px;
  	}
  
  	li.mail a {
  		background: url('../images/mail.png') no-repeat;
  		background-size: 25px 25px;
  	}*/ }
  @media (min-width: 820px) {
    .contact-details {
      width: 48%;
      margin: 0; } }
  @media (min-width: 1024px) {
    .contact-details {
      width: 32%;
      margin: 0; } }
  .contact-details ul {
    padding: 0; }
  .contact-details li {
    text-align: left;
    margin-bottom: 15px;
    height: 30px; }
  .contact-details a {
    color: #3A424C;
    /*padding: 0 0 0 40px;*/
    padding: 0;
    margin: 0 0 40px;
    height: 30px; }
    .contact-details a svg {
      width: 25px;
      height: 25px;
      margin-right: 20px;
      margin-bottom: -5px; }

footer {
  width: 100%;
  border-top: 4px solid #ffa500;
  margin-top: 50px;
  background: #3A424C;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1); }
  @media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    footer {
      width: 103%; } }
  footer ul {
    height: 100%;
    margin: 0;
    padding: 0; }
  footer p {
    color: #d3d3d3;
    margin-top: 30px; }

footer,
.push {
  height: 200px; }

.social-links li {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  display: inline-block; }

svg {
  width: 35px;
  height: 35px;
  opacity: .6; }
  svg:hover {
    opacity: 1; }

#copyright {
  text-align: center; }

/*# sourceMappingURL=application.css.map */
