.about-me,
.my-skills {
	height: 100%;
	line-height: 1.5em;
	margin-top: 80px;
	width: 100%;

	@media (min-width: #{$brk-three}) {
		width: 45%;
	}
}

.about-me {
	
	@media (min-width: #{$brk-three}) {
		float: left;
	}
}

.my-skills {

	@media (min-width: 1024px) {
		float: right;
		margin-left: 2.5%;
	}
	
	ul {
		padding: 0;

		li {
			@include text($color: $tertiary-color, $weight: bold, $size: .8em);
			display: inline-block;
			border: 1px solid $tertiary-color;
			border-radius: 5px;
			padding: 10px;
			margin-bottom: 15px;
			margin-right: 10px;

			&:hover {
				@include text($color: $white);
				background: $tertiary-color;
			}
		}
	}
}
