footer, 
.push {
	height: 150px;
	margin-top: 100px;

	@media (min-width: #{$brk-two}) {
		margin-top: 60px;
	}

	@media (min-width: #{$brk-three}) {
		margin-top: 0;
	}
}

footer {
	width: 100%;
	background: $primary-color;
	border-bottom: 4px solid $tertiary-color;

	h2 {
		@include text($size: 3em, $color: $tertiary-color);
		font-family: 'Dancing Script', cursive;
		margin: 0;
	}
}

.social-links {
	width: 26%;

	ul {
		@include flex(flex, wrap, space-between);
		padding-left: 0;
	}

	svg {
		width: 35px;
		height: 35px;

		&:hover {
			opacity: .8;
		}
	}
}

.footer {
	@include flex(flex, wrap, space-around);
	padding-top: 30px;
	width: 280px;
	height: 100px;
	margin: 0 auto;
}

#copyright {
	@include text($align: center, $color: $tertiary-color, $weight: bold, $size: .9em);
	margin-top: -5px;
}
