* {
	box-sizing: border-box;
}

html, 
body {
	height: 100%;
	margin: 0;
}

body {
	@include text($align: left, $size: 16px, $color: $secondary-color);
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

a {
	@include text($decoration: none, $color: $secondary-color);
}

li {
	list-style: none;
}

p {
	line-height: 2rem;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -150px;
}

main {
	@include text($weight: 300);
	margin-top: calc(100vh + 80px);
	width: 100%;	

	h3 {
		@include text($transform: uppercase);
		letter-spacing: .7em;
	}
}

.main-narrow {
	width: 80%;
	height: auto;
	min-height: 480px;
	margin-left: 10%;
	padding-top: 20px;
}
